node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache
.trraform.tfstate
.terraform.tfstate.backup
.terraform.tfstate.lock.info
.DS_Store
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup